services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    command: pnpm run dev
    ports:
      - ${NEXTJS_PORT}:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env