services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: pnpm run start
    ports:
      - ${NEXTJS_PORT}:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
