services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: node server.js
    ports:
      - ${NEXTJS_PORT}:3000
    environment:
      - HOSTNAME=0.0.0.0
    env_file:
      - .env

  ollama:
    image: ollama/ollama:latest
    ports:
      - 11434
    volumes:
      - ./ollama:/root/.ollama
    deploy:
      resources:
        limits:
          memory: 6G