services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: node server.js
    ports:
      - ${NEXTJS_PORT}:3000
    env_file:
      - .env

  ollama:
    image: ollama/ollama:latest
    ports:
      - ${OLLAMA_PORT}:11434
    volumes:
      - ./ollama:/root/.ollama
    env_file:
      - .env