services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    command: pnpm run dev
    ports:
      - ${NEXTJS_PORT}:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env

  ollama:
    image: ollama/ollama:latest
    ports:
      - 11434
    volumes:
      - ./ollama:/root/.ollama
    env_file:
      - .env